<div class="text-center">
  <h2>Appointment Details</h2>
  <br />  
  <% puts params %>
  <%= form_tag "/appointments/#{params[:id]}", method: "put" do %>
    <div class="form-group">
      <%= label_tag :title %>
      <br />
      <%= text_field_tag :summary, params[:summary] %>
    </div>
    <div class="form-group">
      <%= label_tag :location %>
      <br />
      <%= text_field_tag :location, params[:location] %>
    </div>
    <div class="form-group">
      <%= label_tag :description %>
      <br />
      <%= text_area_tag :description, params[:description] %>
    </div>
    <div class="form-group">
      <%= label_tag :start %>
      <br />
      <!-- yyyy-MM-ddThh:mm -->
      <%= datetime_field_tag :start, params[:start][:date_time].to_datetime.strftime('%Y-%m-%dT%H:%M') %>
    </div>
    <div class="form-group">
      <%= label_tag :end %>
      <br />
      <%= datetime_field_tag :end, params[:end][:date_time].to_datetime.strftime('%Y-%m-%dT%H:%M') %>
    </div>
    <%= submit_tag 'Update Appointment', class: "btn btn-success" %>
  <% end %>
</div>