<div align="center">

  <br/>

  <h1>Upcoming Appointments:</h1>

  <br/>

  <%= link_to 'Schedule New Appointment', new_appointment_path, class: "btn btn-success" %>

  <br/>
  <br/>
    
  <% if @appointments.nil?%>
    <p>You have no upcoming appointments</p>
  <% else %>
    <% @appointments.to_h[:items].each do |appointment| %>
      <div class="card" style="width: 30rem;">
        <div class="card-header">
          <h5 class="card-title"><%= appointment[:summary] %> </h5>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted"><%= appointment[:description] %></h6>
          <p class="card-text">Start: <%= format_date_time(appointment[:start][:date_time]) %></p>
          <p class="card-text">End: <%= format_date_time(appointment[:end][:date_time]) %></p>
          <a href="#" class="card-link">Edit</a>
          <a href="#" class="card-link">Delete</a>
        </div>
      </div>

      <br/>

    <% end %>
  <% end %>
</div>