<!DOCTYPE html>
<html>
  <head>
    <title>TherapyTrack</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
    <% if current_user %>
      <%= render "layouts/shared/nav" %>
    <% else %>
      <%= render "layouts/login"%>
    <% end %>
    </div>

    <div>
      <%= yield %>
    </div>
    
  </body>
</html>